<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1 style="width:940px;">{{site.github.project_tagline}}</h1>
        </a>
        <h2 style="width:940px;">{{ "A Repository of Projects, Experiences, and Publications"}}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar" class="sticky">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}

          {% if site.github.is_project_page %}
            <p>
            <img src="/portfolio/images/JPEGs/GradSushi_Cropped_3.png" alt="Profile_Picture" style="width:150px; height:150px;">
            </p>
            <a class="button" href="https://www.linkedin.com/in/maxwell-palen-anderson/"> </a>
            </p>
            <p class="repo-owner"> This portfolio is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
            <p> <b>Portfolio Content: </b> <br>  
                  <a href="https://maxwell-p-anderson.github.io/portfolio/#ab"> About Me </a> <br>
                  <a href="https://maxwell-p-anderson.github.io/portfolio/#res"> Resume </a> <br>
                  <details>
                    <summary> <a href="https://maxwell-p-anderson.github.io/portfolio/#proj"> Projects </a> </summary>
                      <a href="https://github.com/Maxwell-P-Anderson/portfolio/blob/main/projects/Soft_Robot_for_Surgical_Innovations.html"> Soft Robot </a> <br>
                      <a href="https://maxwell-p-anderson.github.io/portfolio/projects/Button_Bop.html"> Button Bop! </a> <br>
                      <a href="https://maxwell-p-anderson.github.io/portfolio/projects/Beauty_and_Beast_Wings.html"> Pnematic Wings </a> <br>
                   </details>
                   <a href="https://maxwell-p-anderson.github.io/portfolio/#pub"> Publications </a>
            </p>
          {% endif %}
                    
        </aside>
      </div>
    </div>

  </body>
</html>
